 {% load static %}

<link rel="stylesheet" href="{% static "css/team.css" %} ">
<link rel="stylesheet" href="{% static "css/style.css" %} ">





<section class="container team" id="team">
    <div class="center-text">
        <h3>Team</h3>
        <h2>Our Experience Chefs</h2>
    </div>

    <div class="team-content">
        <div class="row">
            <div class="team-img">
                <img src=" {% static "./images/etudiante.jpg" %} ">
            </div>
            <h4>Ioulia Grishina</h4>
            <p>Executive Chef</p>

        </div>

        <div class="row">
            <div class="team-img">
                <img src="{% static "./images/etudiante.jpg" %}">
            </div>
            <h4>Ioulia Grishina</h4>
            <p>Executive Chef</p>
        </div>

        <div class="row">
            <div class="team-img">
                <img src="{% static "./images/etudiante.jpg" %}">
            </div>
            <h4>Ioulia Grishina</h4>
            <p>Executive Chef</p>
        </div>


        <div class="row">
            <div class="team-img">
                <img src="{% static "./images/etudiante.jpg" %}">
            </div>
            <h4>Ioulia Grishina</h4>
            <p>Executive Chef</p>

        </div>

    </div>
</section>