 {% load static %}

<link rel="stylesheet" href="{% static "css/team.css" %} ">
<link rel="stylesheet" href="{% static "css/style.css" %} ">





<section class="container team" id="team">
    <div class="center-text">
        <h3>Team</h3>
        <h2>Our Experience Chefs</h2>
    </div>

    <div class="team-content">

{% for chef in chefs  %}
        <div class="row">
            <div class="team-img">
                <img src="{{ chef.image.url }}">
            </div>
            <h4>{{chef.name}}</h4>
            <p>{{chef.specialty}}</p>

        </div>
{% endfor %}


        <div class="row">
            <div class="team-img">
                <img src="{% static "./images/etudiante.jpg" %}">
            </div>
            <h4>Ioulia Grishina</h4>
            <p>Executive Chef</p>
        </div>




    </div>
</section>