{% load static %}

<link rel="stylesheet" href="{% static "css/about.css" %} ">
<link rel="stylesheet" href="{% static "css/style.css" %} ">



<section class="about" id="about">
    <div class="about-img">
        <img src="{% static "images/about.png" %}">
    </div>

    <div class="about-text">
        <h3>About Us</h3>
        <h2>Poly<span class="span__logo">Food</span> Restaurant</h2>
        <p>Изучите наш сайт, чтобы узнать о нашем меню, часах работы и специальных предложениях. <br> Мы с нетерпением ждем возможности обслужить вас и подарить вам незабываемые впечатления от ужина каждый раз, когда вы посетите нас.</p>
        <a href="#" class="btn">About Us</a>
    </div>
    
</section>

<script src="{% static "js/script.js" %} "></script>