{% load static %}
{% load i18n %}


<link rel="stylesheet" href="{% static "css/style.css" %} ">
<link rel="stylesheet" href="{% static "css/home.css" %} ">

<section class="container home" id="home">
    <div class="home-text">
        <h3> {% trans "Welcome" %} </h3>
        <h1>{% trans "Enjoy organic food" %}</h1>
        <p> {% trans "We want you to accumulate in our restaurant or we make efforts to offer you an exceptional culinary experience within the limits of forbidden dishes." %} </p>
    </div>

    <div class="home-img">
        <img src="{% static "images/hero.png" %}" >
    </div>
</section>

<script src="{% static "js/script.js" %} "></script>