{% load static %}

<link rel="stylesheet" href="{% static "css/style.css" %} ">
<link rel="stylesheet" href="{% static "css/home.css" %} ">

<section class="container home" id="home">
    <div class="home-text">
        <h3>Welcome</h3>
        <h1>Наслаждайтесь органической едой</h1>
        <p>Мы хотим, чтобы вы накопили в нашем ресторане, или мы приложили усилия, чтобы предложить вам исключительный кулинарный опыт в рамках запретных блюд.</p>
    </div>

    <div class="home-img">
        <img src="{% static "images/hero.png" %}" >
    </div>
</section>

<script src="{% static "js/script.js" %} "></script>