
{% load static %}

<link rel="stylesheet" href="{% static "css/comments.css" %} ">
<link rel="stylesheet" href="{% static "css/style.css" %} ">




<section class="container comment" id="blog">
    <div class="center-text">
        <h2>комментарий</h2>
    </div>
    
    <div class="comment-content">
        
        <div class="main">
            <div class="comment-text">
                <h6>Март 10, 2024</h6>
                <h4>Anna Frolova</h4>
                <p>Исключительный кулинарный опыт! Вкусы были идеально сбалансированы, и блюда были элегантно поданы.</p>
            </div>
        </div>


        <div class="main">
            <div class="comment-text">
                <h6>Апрель 01, 2024</h6>
                <h4>Mahmoud Elkhour</h4>
                <p>Исключительный кулинарнdюда были элегантно поданы.</p>
            </div>
        </div>


        <div class="main">
            <div class="comment-text">
                <h6>Апрель 11, 2024</h6>
                <h4>Sergueï Markov</h4>
                <p>Исключительный кулинарный опыт! Вкусы были идеально сбалансированы, и блюда были элегантно поданы.</p>
            </div>
        </div>
    </div>
</section>
