.sectioncomment{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.splide{
    width: 100%;
}

.splide__slide{
    width: 100%;
    padding: 20px;
}

.sectioncomment h1{
    color: #318CE7;
    font-weight: 800;
    font-size: 55px;
}
.card{
    background-color: #318CE7;
    border-radius: 30px;
}
.card-body{
    height: 280px;
    line-height: 30px;
}

.sectioncomment h5{
    color: #ffffff;
    font-weight: 400;
    font-size: 30px;
}

.sectioncomment p{
    color: #ffffff;;
    font-weight: 200;
}
.sectioncomment .card-subtitle{
    margin: 15px 0px;
}
.sectioncomment a {
    margin: auto;
    text-decoration: none;
    margin-top: 20px;
    
}

.sectioncomment a{
    background-color: #318CE7;
    border-radius: 30px;
    color: white;
	display: flex;
	align-items: center;
	font-size: 1rem;
	padding: 10px 28px;
	font-weight: 700;
	transition: all .35s ease;
    border: 2px solid #318CE7;
}

.sectioncomment a:hover{
    background-color: white;
	border: 2px solid #318CE7;
    color: #318CE7;
}