{% load static %}
<!DOCTYPE html>

    <link rel="stylesheet" href="{% static "css/header.css" %} ">
    <link rel="stylesheet" href="{% static "css/style.css" %} ">
 

    <header class="header">
        <div class="container header__container">
                <a href="#" class="logo">Poly<span class="span__logo">Food</span></a>
            <div class="bx bx-menu" id="menu-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#000000" viewBox="0 0 256 256"><path d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128ZM40,72H216a8,8,0,0,0,0-16H40a8,8,0,0,0,0,16ZM216,184H40a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16Z"></path></svg></div>
    
            <ul class="navbar">
                <li><a href="#home" class="link__navbar active">Home</a></li>
                <li><a href="#about" class="link__navbar">About Us</a></li>
                <li><a href="#menu" class="link__navbar">Menu</a></li>
                <li><a href="#team" class="link__navbar">Team</a></li>
                <li><a href="#blog" class="link__navbar">Blog</a></li>
                <li><a href="#contact" class="link__navbar">Contact</a></li>
                {% comment %} <li><a href="#" class="cart"><i class='shopping__card'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#000000" viewBox="0 0 256 256"><path d="M230.14,58.87A8,8,0,0,0,224,56H62.68L56.6,22.57A8,8,0,0,0,48.73,16H24a8,8,0,0,0,0,16h18L67.56,172.29a24,24,0,0,0,5.33,11.27,28,28,0,1,0,44.4,8.44h45.42A27.75,27.75,0,0,0,160,204a28,28,0,1,0,28-28H91.17a8,8,0,0,1-7.87-6.57L80.13,152h116a24,24,0,0,0,23.61-19.71l12.16-66.86A8,8,0,0,0,230.14,58.87ZM104,204a12,12,0,1,1-12-12A12,12,0,0,1,104,204Zm96,0a12,12,0,1,1-12-12A12,12,0,0,1,200,204Zm4-74.57A8,8,0,0,1,196.1,136H77.22L65.59,72H214.41Z"></path></svg>
                </i></a></li> {% endcomment %}
            </ul>
    
            <div class="top-btn">
                <a href="#">Order Now</a>
            </div>
        </div>
    
</header>

<script src="{% static "js/script.js" %} "></script>



















