{% load static %}
<!DOCTYPE html>    
<link rel="stylesheet" href="{% static "css/header.css" %} ">
<link rel="stylesheet" href="{% static "css/style.css" %} ">

 

    <header class="header">
        <div class="container header__container">
            
                <a href="#" class="logo">Poly<span class="span__logo">Food</span></a>


            <div class="bx bx-menu" id="menu-icon">

                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#000000" viewBox="0 0 256 256"><path d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128ZM40,72H216a8,8,0,0,0,0-16H40a8,8,0,0,0,0,16ZM216,184H40a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16Z"></path></svg>
            </div>
    
            <ul class="navbar">
                <li><a href="#home" class="link__navbar active">Home</a></li>
                <li><a href="#about" class="link__navbar">About Us</a></li>
                <li><a href="#menu" class="link__navbar">Menu</a></li>
                <li><a href="#team" class="link__navbar">Team</a></li>
                <li><a href="#blog" class="link__navbar">Blog</a></li>
                <li><a href="#contact" class="link__navbar">Contact</a></li>
            </ul>
    
     
        </div>
    
</header>

<script src="{% static "js/script.js" %} "></script>